.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 50rem;
    max-height: 90vh;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.modal_content_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.modal_content_title img {
    cursor: pointer;
}

.modal_content_title h1 {
    margin-top: 0;
}

.modal_body {
    height: 200px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ddd;
}

.understand[disabled] {
    background-color: grey;
    cursor: not-allowed;
}

.understand {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
