.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.25rem;
    position: relative;
    width: 90%;
    z-index: 2    
}

.header nav {
    display: flex;
    align-items: center;
    padding-right: 8%;
    padding-left: 2%;
}

.header img {
    width: 18%;
    position: relative;
    cursor: pointer;
}
 
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3rem;
}
  
.menu li {
    display: inline;
}

.mobile_login {
    display: none;
}
  
.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-family: Montserrat;
}
  
.menu li a:hover {
    text-decoration: underline;
}
  
.login {
    position: relative;
    margin-top: 0.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.login button {
    width: 9rem;
    height: 2.375rem;
    padding: 0.5rem 1rem;
    background-color: #008286;
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_text {    
    display: flex;
    justify-content: center;
    align-items: center;
}

.login img {
    position: relative;
    width: 20%;
    margin-right: 5%;
}

.login a {
    text-decoration: none;
    color: #FFF;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
}

.login button:hover {
    background-color: #004d40;
}

.burger-menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.625rem;
}
  
@media (max-width: 600px) {
    html {
        font-size: 10px;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        margin-left: 20%;
        width: 100%;
        font-size: 2.2rem;
    }
    
    .header img {
        width: 15rem;
        height: auto;
        margin-left: 5%;
    }

    .login {
        display: none;
    }

    .header nav {
        padding-right: 3%;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #FFF;
        top: 1.2rem;
        right: 4.5rem;
        width: 10rem;
        padding: 3rem;
        z-index: 1000;
        border-radius: 1rem;
    }
    
    .menu li {
        margin: 1rem 0;
    }
    
    .menu li a {
        color: black;
        font-size: 1.5rem;
    }

    .burger-menu {
        color: #FFF;
        display: block;
        font-size: 2rem;
    }

    .menu.show {
        display: flex;
        z-index: 1000;
    }
    
    .mobile_login {
        display: block;
        font-size: 1.5rem;
        font-style: Montserrat;
    }
}

@media (max-height: 470px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 1050px) {
    .menu li a {
        font-size: 0.8rem;
    }
}

@media (max-width: 900px) {
    .menu li a {
        font-size: 0.6rem;
    }
}