/* property list */
.change_property_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.change_property_title h1 {
    color: #343434;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-top: 0;
}

.change_property_title button {
    flex-shrink: 0;
    width: 10rem;
    height: 2.5rem;
    background: #008286;
    border: none;
    border-radius: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.change_property_title button:hover {
    background-color: #004d40;
}

.admin_property {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.property_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.property_price h2 {
    color: #030303;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.property_price span {
    text-decoration: underline;
    color: #008286;
    cursor: pointer;
}

.property_price span:hover {
    color: blueviolet;
}

.admin_property_detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.admin_property_detail p {
    margin-top: 0;
    margin-bottom: 0;
    color: #343434;
    font-family: Montserrat;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 0;
}

.admin_property_detail span {
    text-decoration: underline;
    color: #008286;
    cursor: pointer;
}

.admin_property_detail span:hover {
    color: blueviolet;
}

.upload_report {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.upload_report p {
    margin-top: 0;
    margin-bottom: 0;
    color: #343434;
    font-family: Montserrat;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 0;
    cursor: pointer;
}

.upload_report p:hover {
    text-decoration: underline;
}

.upload_report span {
    text-decoration: underline;
    color: #008286;
    cursor: pointer;
}

.upload_report span:hover {
    color: blueviolet;
}

/* change property */
.property_modal {
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2%;
    background: #fff;
    border: none;
    border-radius: 5px;
}

.property_modal form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: scroll;
}

.property_modal p {
    margin: 2%;
    margin-left: 0;
    color: #343434;
    font-family: Montserrat;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.property_modal input {
    flex-shrink: 0;
    width: 90%;
    padding-left: 5%;
    height: 2.8rem;
    border-radius: 0.625rem;
    border: 1px solid #DDD;
    outline: none;
}

.close_change_property_modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.close_change_property_modal img {
    cursor: pointer;
}

.close_change_property_modal button {
    width: 15rem;
    height: 2.5rem;
    background: #008286;
    border: none;
    border-radius: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.close_change_property_modal button:hover {
    background-color: #004d40;
}

.save_change_modal {
    flex-shrink: 0;
    width: 10rem;
    height: 2.5rem;
    background: #008286;
    border: none;
    border-radius: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    margin-top: 5%;
}

.save_change_modal:hover {
    background-color: #004d40;
}

/* add property */
.close_property_modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.close_property_modal h1 {
    color: #343434;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.close_property_modal img {
    cursor: pointer;
}

.save_add_modal {
    flex-shrink: 0;
    width: 10rem;
    height: 2.5rem;
    background: #008286;
    border: none;
    border-radius: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    margin-top: 5%;
}

.save_add_modal:hover {
    background-color: #004d40;
}

.upload_modal {
    width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 3%;
    background: #fff;
    border: none;
    border-radius: 5px;
}

.upload_file {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.upload_modal button {
    width: 10rem;
    height: 2.5rem;
    background: #008286;
    border: none;
    border-radius: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.upload_modal button:hover {
    background-color: #004d40;
}

/* set price */
.price_modal {
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5%;
    padding: 2%;
    background: #fff;
    border: none;
    border-radius: 5px;
}

.set_price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.set_price input {
    height: 2.8rem;
    border-radius: 0.625rem;
    border: 1px solid #DDD;
    padding-left: 3%;
    color: #656565;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    outline: none;
}

.pdf_preview {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #FFF;
}

.pdf_action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}