.edit_order {
    color: #008286;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    text-decoration: underline;
    cursor: pointer;
}

.edit_order:hover {
    color: blueviolet;
}

.change_order_modal_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 3%;
    width: 40rem;
    height: 25rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.customer_order_detail_info {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 5%;
}

.order_detail_info {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.order_detail_info p {
    margin: 0;
}

.change_order_modal_content h1 {
    color: #343434;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.change_order_modal_content form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5%;
}

.change_order_modal_content label {
    display: grid;
    grid-template-columns: 2fr 8fr;
    align-items: center;
    width: 80%;
}

.change_order_modal_content select {
    height: 2.8rem;
    outline: none;
    border-radius: 0.625rem;
    border: 1px solid #DDD;
}

.change_order_modal_content input {
    height: 2.8rem;
    border-radius: 0.625rem;
    border: 1px solid #DDD;
    padding-left: 3%;
    color: #656565;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.confirm_change {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.confirm_change button {
    width: 10rem;
    height: 2.5rem;
    background: #008286;
    border: none;
    border-radius: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.confirm_change button:hover {
    background-color: #004d40;
}

.order_search {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 5%;
    margin: 10px 0;
}

.order_search input {
    padding: 0.5rem 1rem;
    position: relative;                     
    height: 1.5rem;
    margin-right: 0;
    border: 1px solid #DDD;
    border-radius: 0.625rem;
    outline: none;
}

.order_search button {
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008286;
    height: 2.5rem;
    color: white;
    border: none;
    border-radius: 0.625rem;
    cursor: pointer;
    font-size: 1rem;
}
.order_search button:hover {
    background-color: #004d40;
}