.change_settings {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1.25rem;
    background: #FFF;
    padding: 5%;
    margin-right: 3%;
}

.change_settings h1 {
    color: #343434;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;
}

.change {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.change h1 {
    color: #343434;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.change p {
    color: #656565;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 0;
}

.change1 {
    color: #008286;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-decoration-line: underline;
    border: none;
    background: #FFF;
    cursor: pointer;
}

.change_modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.change_modal_content {
    background: white;
    padding: 1.5rem;
    border-radius: 5px;
    width: 30rem;
    height: 15rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close_modal {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.close_modal img {
    cursor: pointer;
}

.change_modal_content h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.change_modal_content input {
    width: 80%;
    height: 3rem;
    padding-left: 3%;
    outline: none;
    border-radius: 0.3rem;
    border: 1px solid #D0D7DD;
    background: #FFF;
    margin-top: 3%;
    margin-bottom: 8%;
}

.change_modal_content ::placeholder {
    color: #989898;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}

.save_change {
    width: 13.3rem;
    height: 3.125rem;
    background: #008286;
    border: none;
    border-radius: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.save_change:hover {
    background-color: #004d40;
}

.change_password_content {
    background: white;
    padding: 1.5rem;
    border-radius: 5px;
    width: 30rem;
    height: 20rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change_password_content h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.change_password_content input {
    width: 80%;
    height: 3rem;
    padding-left: 3%;
    outline: none;
    border-radius: 0.3rem;
    border: 1px solid #D0D7DD;
    background: #FFF;
    margin-top: 3%;
    margin-bottom: 5%;
}

.change_password_content ::placeholder {
    color: #989898;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
}
